<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Welcome, Java Hipster!</h1>
        <p class="lead">This is the homepage</p>

        <div *ngIf="isAuthenticated()">
            <jhi-leave-requeste></jhi-leave-requeste>
        </div>


    </div>
</div>
