
<div class="row">
    <div class="col-md-1">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-10">
        <h1 class="display-4">Welcome, Leave Requeste Plateform!</h1>
        <p class="lead">This is the homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message"> You are logged. </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" >sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
            <div *ngSwitchCase="true">
                <h2 id="page-heading">
                    <span>Leave Requestes</span>
                    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-leave-requeste" [routerLink]="['/leave-requeste/new']">
                        <fa-icon [icon]="'plus'"></fa-icon>
                        <span >
                            Create new Leave Requeste
                            </span>
                    </button>
                </h2>
                <jhi-alert></jhi-alert>
                <br/>
                <div class="table-responsive" *ngIf="leaveRequestes">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><span>ID</span></th>
                            <th><span>Purpose</span></th>
                            <th><span>Create At</span></th>
                            <th><span>Updated At</span></th>
                            <th><span>Expered At</span></th>
                            <th><span>Valided</span></th>
                            <th><span>Employee</span></th>
                            <th><span>Superior</span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let leaveRequeste of leaveRequestes | callback: employee:currentAccount.login ;trackBy: trackId" >
                            <td><a [routerLink]="['/leave-requeste', leaveRequeste.id, 'view' ]">{{leaveRequeste.id}}</a></td>
                            <td>{{leaveRequeste.purpose}}</td>
                            <td>{{leaveRequeste.createAt | date:'mediumDate'}}</td>
                            <td>{{leaveRequeste.updatedAt | date:'mediumDate'}}</td>
                            <td>{{leaveRequeste.experedAt | date:'mediumDate'}}</td>
                            <td>{{leaveRequeste.valided}}</td>
                            <td>
                                {{leaveRequeste.employee?.login}}
                            </td>
                            <td>
                                {{leaveRequeste.employee?.superiorLogin}}
                            </td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            [routerLink]="['/leave-requeste']"
                                            (click)="valider(leaveRequeste)"
                                            class="btn btn-primary btn-sm"
                                            [disabled]="(leaveRequeste.employee.superiorLogin!=currentAccount.login) || (leaveRequeste.valided==true) "
                                    >
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline">{{leaveRequeste.employee.superiorLogin}}-{{currentAccount.login}}valided</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/leave-requeste', leaveRequeste.id, 'view' ]"
                                            class="btn btn-info btn-sm">
                                        <fa-icon [icon]="'eye'"></fa-icon>
                                        <span class="d-none d-md-inline">View</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/leave-requeste', leaveRequeste.id, 'edit']"
                                            class="btn btn-primary btn-sm">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline">Edit</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/', 'leave-requeste', { outlets: { popup: leaveRequeste.id + '/delete'} }]"
                                            replaceUrl="true"
                                            queryParamsHandling="merge"
                                            class="btn btn-danger btn-sm"
                                            [disabled]="(leaveRequeste.employee.superiorLogin!=currentAccount.login) || (leaveRequeste.valided==true) "
                                    >
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline">Refuser</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


    </div>
</div>
