<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-leave-requeste-heading">Create or edit a Leave Requeste</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!leaveRequeste.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="leaveRequeste.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_purpose">Purpose</label>
                    <input type="text" class="form-control" name="purpose" id="field_purpose"
                        [(ngModel)]="leaveRequeste.purpose" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createAt">Create At</label>
                    <div class="input-group">
                        <input id="field_createAt" type="text" class="form-control" name="createAt" ngbDatepicker  #createAtDp="ngbDatepicker" [(ngModel)]="leaveRequeste.createAt"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createAtDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="form-control-label" for="field_updatedAt">Updated At</label>-->
                    <!--<div class="input-group">-->
                        <!--<input id="field_updatedAt" type="text" class="form-control" name="updatedAt" ngbDatepicker  #updatedAtDp="ngbDatepicker" [(ngModel)]="leaveRequeste.updatedAt"-->
                        <!--/>-->
                        <!--<span class="input-group-append">-->
                            <!--<button type="button" class="btn btn-secondary" (click)="updatedAtDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>-->
                        <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <label class="form-control-label" for="field_experedAt">Expered At</label>
                    <div class="input-group">
                        <input id="field_experedAt" type="text" class="form-control" name="experedAt" ngbDatepicker  #experedAtDp="ngbDatepicker" [(ngModel)]="leaveRequeste.experedAt"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="experedAtDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="form-control-label" for="field_valided">Valided</label>-->
                    <!--<input type="checkbox" class="form-control" name="valided" id="field_valided"-->
                        <!--[(ngModel)]="leaveRequeste.valided" />-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label class="form-control-label" for="field_employee">Employee</label>-->
                    <!--<select class="form-control" id="field_employee" name="employee" [(ngModel)]="leaveRequeste.employee" >-->
                        <!--<option [ngValue]="null"></option>-->
                        <!--<option [ngValue]="userOption.id === leaveRequeste.employee?.id ? leaveRequeste.employee : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>-->
                    <!--</select>-->
                <!--</div>-->
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
