<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="leaveRequeste">
            <h2><span>Leave Requeste</span> {{leaveRequeste.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Purpose</span></dt>
                <dd>
                    <span>{{leaveRequeste.purpose}}</span>
                </dd>
                <dt><span>Create At</span></dt>
                <dd>
                    <span>{{leaveRequeste.createAt}}</span>
                </dd>
                <dt><span>Updated At</span></dt>
                <dd>
                    <span>{{leaveRequeste.updatedAt}}</span>
                </dd>
                <dt><span>Expered At</span></dt>
                <dd>
                    <span>{{leaveRequeste.experedAt}}</span>
                </dd>
                <dt><span>Valided</span></dt>
                <dd>
                    <span>{{leaveRequeste.valided}}</span>
                </dd>
                <dt><span>Employee</span></dt>
                <dd>
                    {{leaveRequeste.employee?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/leave-requeste', leaveRequeste.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
